[submodule "ShinyBuilder"]
	path = ShinyBuilder
	url = https://github.com/iheartradio/ShinyBuilder.git
[submodule "shinyproxy"]
	path = shinyproxy
	url = https://github.com/openanalytics/shinyproxy.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	ignore = dirty
	ignore = untracked

[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "shinyproxy-template"]
	path = shinyproxy-template
	url = https://github.com/openanalytics/shinyproxy-template.git
