.influx_history
#nohup
shinyproxy-local/nohup.out


.AndroidStudio**
/Android/
.android/
.rstudio**
.mozilla**
.local**
.kde**
.config**
.emacs**
.ICEauthority
.esd_auth
*.swp
.java/**
.subversion/
*.log
*.bin
libevent**
.pki/**
.bluefish
.gnome
.conda
.anaconda
.Xauthority
.ftk/
.jupyter
.vimbundle
.vnc
.zenmap
/Downloads/
/R/
/Untitled Folder/
/.ftk/
/anaconda3/
/docker-automated-builds/kml/
/docker-automated-builds/kmldr/
/nmap/
vnctemp
/Documents/




# or
.oracle*

# maven
.m2/*

# python related
.cache/
.ipython/
**/.ipynb_checkpoints

*.tar.gz
*.deb

#git
.git-credential-cache/


# amazon web services
.aws
.gnupg
.lesshst
.npm/*
.sudo_as_admin_successful
*~
*.cache
*.bash*
*.profile
*.viminfo
*.sudo_as_admin_successful

# rdata
shiny/lc/data/*

#zsh
*~
.*~
.zcompdump*
.zsh_history
.zsh-update

#bash vim
.bash_history
.viminfo
bin
/.vim/

#keys
.ssh

#keep these files
!.oh-my-zsh/themes/babun.zsh-theme


####################################################################
#docker folder. this file structure is for github repos and automaited docker builds
####################################################################
docker-automated-builds/sbdr/*

####################################################################
#windows defaults from github
#VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user
.vim/.netrwhist
*.Rhistory
shiny/LendingClub/data/database.sqlite
*.xlsx
shiny/LendingClub/data/lending-club-loan-data.zip
shiny/LendingClub/data/loan.csv
shiny/LendingClub/www/lc.jpg
*.sqlite
shiny/lc/data/loan.csv
*.RData
*.zip


#donot ignore
!.oh-my-zsh/themes/babun.zsh-theme
/mm/
/.vim/bundle/Dockerfile.vim/
/.vim/bundle/Vundle.vim/
/Anaconda3-4.0.0-Linux-x86_64.sh
/.fltk/fltk.org/fltk.prefs
